.login .modal-content {
  border-radius: 5px;
}

.login .modal-content:hover {
  border-radius: 50px;
}

.login .modal-header {
  border-radius: 50px;
  margin: 0;
  padding: 10px;
  cursor: pointer; /* Set cursor to pointer */
}

.login_google img {
  height: 45px;
  width: 45px;
  margin-right: 100px;
}

.login_google span {
  font-size: 20px;
}

.login-in-private {
  cursor: pointer; /* Set cursor to pointer */
  border-radius: 50px;
  border: 1px solid #888;
  width: auto;
  padding: 6px;
  background: #fff;
}

.login-in-private span {
  margin-right: 100px;
}

.centered-wrapper {
  display: flex; /* Hiển thị phần tử con dưới dạng flexbox */
  justify-content: center; /* Căn giữa phần tử theo chiều ngang */
}
