.my_profile {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  width: 70%;
  color: #c5c6ca;
  border-radius: 10px;
  display: block;
  margin: 0 auto; /* Để căn giữa theo chiều ngang */
}

.info-content {
  text-align: center;
}

.name_profile {
  text-align: center;
}

.avatar_profile {
  padding: 10px;
  text-align: center;
}

.avatar_profile img {
  border-radius: 50%;
  border: 2px solid #fff;
}

.my_profile span {
  font-size: 18px;
  font-weight: bold;
}

hr {
  border-color: #343637; /* Màu cho đường viền của phần tử hr */
}
